<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guilherme Serra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Navigation -->
    <header>
        <nav>
            <a href="#home">Home</a>
            <a href="#projects">Projetos</a>
            <a href="#contact">Contato</a>
        </nav>
    </header>

    <!-- Home Section -->
    <section id="home" class="hero">
        <h1>Guiherme Serra</h1>
        <p>Abaixo encontram-se alguns dos meus projetos pessoais como dev.</p>
        <a href="#projects" class="btn">Ver projetos</a>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects">
        <h2>Projetos com Demos disponíveis:</h2>
        <div class="project-card">
            <h3>Expenses Tracker</h3>
            <p>Uma aplicação web simples, para controlar finanças pessoais.</p>
            <p>Stacks:</p>
            <p>- Python</p>
            <p>- Flask</p>
            <p>- Javascript</p>
            <p>- CSS</p>
            <p>- HTML</p>
            <a href="https://guilhermeserra.pythonanywhere.com/" class="btn">Ver projeto</a>
        </div>
        <div class="project-card">
            <h3>Task Manager</h3>
            <p>Uma ferramenta web aos moldes do Trello para organização de tarefas.</p>
            <p>Stacks:</p>
            <p>- Python</p>
            <p>- Flask</p>
            <p>- Javascript</p>
            <p>- CSS</p>
            <p>- HTML</p>
            <a href="https://taskmanager-i7kt.onrender.com" class="btn">Ver projeto</a>
        </div>
        <h2>Projetos com Demos disponíveis apenas no Github:</h2>
        <div class="project-card">
            <h3>Background Remover</h3>
            <p>Uma executável que utiliza as Python Libs: rembg e PIL; para remover o fundo de imagens </p>
            <p>Stacks:</p>
            <p>- Python</p>
            <p>- PIL</p>
            <p>- rembg</p>
            <a href="https://github.com/gssv99/RmvBgdImg" class="btn">Ver repositório</a>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact">
        <h2>Entre em contato</h2>
        <p>Minhas redes sociais:</p>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/guilherme-serra-sevilha-viegas-8b9bb2109/" target="_blank" class="btn">LinkedIn</a>
            <a href="https://github.com/gssv99" target="_blank" class="btn">GitHub</a>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Guilherme Serra. No rights reserved.</p>
    </footer>

    <!-- Smooth Scroll Script -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>